{% extends "teacher/master.html" %}

{% block content %}
<div class="container d-flex justify-content-center " style="min-height: 100vh;">
    <div class="col-md-6">
        <div class="card-body">
            <h3 class="text-center py-3" style="font-weight: bolder;">Add Notes</h3>
             
            {% if message %}
           <div class="alert  mt-3"  style="background-color: #EE4266;color: white;" id="error-msg" role="alert">
            {{ message }}
          </div>
          {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-1">
                    <label for="roll_no" class="form-label text-dark py-2">Select Class</label>
                    <select name="cls" required class="form-control" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>

                    </select>
                </div>

                <div class="mb-1">
                    <label for="roll_no" class="form-label text-dark py-2">Subject</label>
                    <select name="sub" required class="form-control" id="">
                        <option value="maths">Maths</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>

                        <option value="computer">Computer</option>
                         
                    </select>
                </div>
                 
                
                <div class="mb-1">
                    <label for="studentName" class="form-label text-dark py-2">Description</label>
                    <textarea   class="form-control" name="descr" id=""></textarea>
                </div>    
                <div class="mb-1">
                    <label for="studentName" class="form-label text-dark py-2">Description</label>
                    <input type="file"   class="form-control" name="file" id=""> 
                </div>    
                 
                 
                <div>
                <button type="submit" class="btn btn-primary d-flex justify-content-center w-100">Add Now</button>

                </div>
            </form>

            
        </div>
    </div>
 
 

    <script>
        setTimeout(function() {
           var errorMsg = document.getElementById('error-msg');
           if (errorMsg) {
              errorMsg.style.display = 'none';
           }
        }, 2000); // 5000 milliseconds = 5 seconds
     </script>
</div>
{% endblock %}
 